/* inside single movie page */
#movie {
   padding-top: 75px;
}

#movie .poster {
   width: 75%;
   padding-bottom: 50px;
}
@media (max-width: 575px) {
   #movie img {
      width: 50%;
   }
}

body {
   background-color: black;
   margin: 0;
   font-family: "Ubuntu", Arial, Helvetica, sans-serif;
   background-color: #1b262c;
}

.topnav {
   overflow: hidden;
   background-color: #3c2c3e;
}

.topnav a {
   font-family: Montserrat;
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: #ddd;
   color: black;
}

.topnav a.active {
   background-color: #b52b65;
   color: white;
}

.topnav .icon {
   display: none;
}

@media screen and (max-width: 600px) {
   .topnav a:not(:first-child) {
      display: none;
   }
   .topnav a.icon {
      float: right;
      display: block;
   }
}

@media screen and (max-width: 600px) {
   .topnav.responsive {
      position: relative;
   }
   .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
   }
   .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
   }
}

.movieHead {
   font-family: "Montserrat", sans-serif;
   font-weight: 900;
   color: white;
   font-size: 4rem;
}
.cast_image {
   width: 50%;
}
.about {
   background-color: #c57ed3;
   color: #490d40;
   height: 600px;
   text-align: center;
   margin-top: -20px;
}
.about h2 {
   padding-top: 220px;
}
.about p {
   padding: 20px 80px;
}

footer {
   text-align: center;
   padding: 3px;
   background-color: green;
   color: white;
}

@media (max-width: 990px) {
   #movie {
      text-align: center;
   }
}

.tilesWrap {
   padding: 0;
   margin: 50px auto;
   list-style: none;
   text-align: center;
}
.tilesWrap li {
   color: white;
}

.tilesWrap .l {
   display: inline-block;
   width: 20%;
   min-width: 50vw;
   max-width: 60vw;
   padding: 80px 20px 40px;
   position: relative;
   vertical-align: top;
   margin: 10px;
   font-size: 2rem;
   min-height: 25vh;
   background: #262a2b;
   border: 1px solid #252727;
   text-align: left;
}

.tilesWrap .l.l2 {
   min-width: 70vw;
}
.tilesWrap .l h2 {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 5vw;
   margin: 0;
   position: absolute;
   opacity: 0.2;
   top: 30px;
   right: 10px;
   transition: all 0.3s ease-in-out;
}

@media (max-width: 700px) {
   .tilesWrap .l h2 {
      visibility: hidden;
   }
}

.tilesWrap .l h3 {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   font-size: 4rem;
   color: #b7b7b7;
   margin-bottom: 15px;
}
.tilesWrap .l p {
   font-size: 16px;
   line-height: 18px;
   color: #b7b7b7;
   margin-top: 5px;
}
.tilesWrap .l:hover h2 {
   top: 0px;
   opacity: 0.6;
}

.tilesWrap .l:before {
   content: "";
   position: absolute;
   top: -2px;
   left: -2px;
   right: -2px;
   bottom: -2px;
   z-index: -1;
   background: #fff;
   transform: skew(2deg, 2deg);
}
/* .tilesWrap .l:after {
   content: "";
   position: absolute;
   width: 40%;
   height: 100%;
   left: 0;
   top: 0;
   background: rgba(255, 255, 255, 0.02);
} */
.tilesWrap .l:before {
   background: #c9ffbf;
   background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf);
   background: linear-gradient(to right, #ffafbd, #c9ffbf);
}

.imdb {
   position: relative;
   padding-left: 25%;
}

footer {
   height: 20vh;
   background-color: black;
   color: white;
   justify-content: center;
}
.icons {
   position: relative;
   margin: auto;
   padding-top: 20px;
   word-spacing: 60px;
   text-align: center;
}
.icon:hover {
   opacity: 0.7;
}
.bottext {
   position: relative;
   padding-left: 20px;

   text-align: center;
   padding: 20px;
}
.bottext1 {
   color: white;
}
.bottext1:hover {
   opacity: 0.7;
}
.bottext1 {
   padding-left: 20px;
}
.cr {
   text-align: center;
   color: rgb(104, 104, 104);
}
